<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div  class="scrolltop">
  <nav>
    <mat-list class="mat-list-items">
      <mat-list-item>
        <a href="/integrations">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/client" >Search Events</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/create-user">Register User</a>
      </mat-list-item>
      <mat-list-item>
        <a  routerLink="/create-goal">Create Event</a>
      </mat-list-item>
    </mat-list>


  </nav>
</div>
